<!-- footer -->
<footer class="footerv4-w3ls py-sm-5 py-4">
  <div class="footerv4-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-left">
          <h3>Get In Touch with us</h3>
        </div>
        <!-- footer nav links -->
        <div class="col-md-8 footer-nav-wthree my-md-3 mt-3">
          <ul class="social-icons list-unstyled">
            <li>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-google-plus"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </li>
          </ul>
          <ul class="footer-link mt-3">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="about.html">About Us</a>
            </li>
            <li>
              <a href="services.html">Services</a>
            </li>
            <li>
              <a href="gallery.html">Gallery</a>
            </li>
            <li>
              <a href="#Subscribe">Subscribe</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
        <!-- //footer nav links -->

      </div>
    </div>
  </div>
</footer>
<!-- //footer -->
