{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}



{% block body %}{% block javascript %} {% endblock %}  

     <br><br><br>

 <br><br>
 
<style>
.boxtttt{
	
		transition: 1s;

	}
	.boxtttt img{
		display: block;
	border-radius: 5px;
	}
	.boxtttt:hover{
		transform: scale(1.1);
		z-index: 2;
	}
	</style>
   

<div class="b-example-divider" ></div>



<!-- /input-group -->
  
  
  




<section class="food_section layout_padding">


    <div class="container">


         <div class="heading_container heading_center">
           <h2> Reservations </h2>
       
          <!-- /input-group -->
         </div>
        </div>

          

      <br><br><br>
 <br><br>


     <section class="home-about-area">

		<table>
 <tr>
    <th>nom reservation</th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <th>date</th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  

   
    
  </tr>
{% for c in e %}

     <tr>
   
      <td>{{c.nomreservation}}</td>
      
      <td>{{c.date|date("m/d/Y")}}</td>
      
      
      
      
      </tr>

     
{% endfor %}

    </section>













{% endblock %}