{% extends 'base.html.twig' %}

{% block title %}Edit TaxiAero{% endblock %}

{% block body %}
    <h1>Edit TaxiAero</h1>

    {{ include('taxi_aero/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('taxi_aero_index') }}">back to list</a>

    {{ include('taxi_aero/_delete_form.html.twig') }}
{% endblock %}
