{% extends 'base.html.twig' %}

{% block title %}Edit LocVoiture{% endblock %}

{% block body %}
    <h1>Edit LocVoiture</h1>

    {{ include('loc_voiture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('loc_voiture_index') }}">back to list</a>

    {{ include('loc_voiture/_delete_form.html.twig') }}
{% endblock %}
